<!-- CSS goes in the document HEAD or added to your external stylesheet -->
<html style="height: 100%">
 <head>
  <meta charset="utf-8"/>
 </head>
 <body style="height: 100%; margin: 0">
    <table class="hovertable" style="height: 400px;width: 600px;border='1'" align='center'>
        {{ get_right }}
    <br>
    <br>
        {{ get_warning }}
    <br>
    <br>
        {{ get_error }}
    <br>
    <br>
        {{ post_right }}
    <br>
    <br>
        {{ post_warning }}
    <br>
    <br>
        {{ post_error }}
    <br>
    <br>
    </table>
 </body>
</html>